* {
  box-sizing: border-box;
  font-family: Helvetica, Arial;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  background-color: rgb(222, 210, 230);
  margin: 0;
  padding: 24px;
}

#root h1 {
  margin: 0;
}

.form-item-vert {
  margin: 16px 8px;
}

.fill-height {
  height: 100%;
}

.MuiPaper-root {
  padding: 16px;
}
